.galaxy-roles
.python-version
.terraform
.terraform.tfstate.lock.info
.vagrant
*.tfstate
*.tfstate.*.backup
*.tfstate.backup

tool/.eggs
tool/.installed.cfg
tool/bin
tool/build
tool/dist
tool/develop-eggs
tool/eggs
tool/parts
tool/src/*.egg-info

tmp/

__pycache__
*.pyc
*.pyo
