# Ansible
.ansible/galaxy-roles
.ansible/roles
*.retry

# Native

*.a
*.a
*.app
*.d
*.dll
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.i*86
*.ilk
*.ko
*.la
*.lib
*.lo
*.map
*.o
*.obj
*.out
*.pch
*.so
*.so.*
*.x86_64

# Python
/tool/bin/
/tool/build/
/tool/develop-eggs/
/tool/dist/
/tool/eggs/
/tool/parts/
/tool/src/*.egg-info
/tool/.eggs/
/tool/.installed.cfg
/tool/.python-version

__pycache__
*.pyc
*.pyo

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
/tmp/

# Vagrant
.vagrant/
*-VBoxSVC-*.log
